
<h1 class='page-title'>My Profile</h1>
<hr/>

<h3 class='u-text-bold mt-5'>My Photos</h3>
<ul class='list-group'>
  <% @photos.each do |photo| %>
    <li data-controller='quick-editable' class='list-group-item' data-photo-id='<%= photo.id %>'>
      <%= render partial: 'dashboard/photos/list_item', locals: {photo: photo} %>
    </li>
  <% end %>
</ul>
