<div class='container'>
  <h1 class='page-title'><%= @user.username %></h1>

  <div class="card-columns mt-5">
    <% @user.photos.each do |photo| %>

      <div class="card photo-card">
        <%= link_to image_tag(url_for(photo.image), width: '100%', class: 'photo-card__image'), photo %>
        <h5 class="card-title photo-card__title"><%= link_to photo.title, photo %></h5>
      </div>

    <% end %> 
  </div>
</div>
