.search-bar {
  position: relative;

  .suggestions-active {
    border-radius: 5px 5px 0 0;
    border-bottom: none;
  }

  .hidden {
    display: none;
  }

  .search-suggestions {
    overflow-x: auto;
    z-index: 1;
    border-radius: 0 0 10px 10px;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    color: black;
  }

  &__photos {
    &-title {
      color: black;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__users {
    &-user {
      color: black;
      &:hover {
        text-decoration: none;
      }
    } 
  }
}
