$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

$container-max-widths: (
  sm: 540px,
  md: 600px,
  lg: 800px,
  xl: 1400px
); 

$primary: #341f97;

@import "bootstrap/scss/bootstrap";

@import "./components/all";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-title {
  font-size: 40px;
  font-weight: 700;
  margin: 40px 0;
}

.u-text-bold {
  font-weight: bold;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 30vh;
  background-color: #222;
  color: white;

  &__title {
    font-weight: 700;
  }

  .search-bar {
    margin-top: 20px;
  }
}


.photo-show-page {
  &__image {
    border-radius: 10px;
  }

  &__description {
    font-size: 20px;
  }
}

.share-component {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 30px;
  height: 40px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__input {
    border-radius: 30px;
    padding-left: 15px;
    transition: 5s;
    flex: 8;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__button {
    transition: 5s;
    flex: 1;
    background-color: white;
    border: none;
    background-color: $success;
    color: white;
    margin: 3px;
    padding: 5px 20px;
    border-radius: 30px;
  }
}
