$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import "bootstrap/scss/bootstrap";

@import "./components/all";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.search-bar {
  position: relative;

  .hidden {
    display: none;
  }

  .search-suggestions {
    z-index: 1;
    margin-top: 9px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    background-color: darken(#f9f9f9, 10%);
    width: 100%;
    padding: 10px;
  }
}
