$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import 'components/navbar';
@import 'components/search-bar';

$primary: #341f97;

@import "bootstrap/scss/bootstrap";

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
}

.page-title {
  font-weight: 700;
}

.u-full-height {
  height: 100%;
}

.u-full-height-force {
  height: calc(100vh - 56px);
}

.u-center-vertically-in-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 50%;
}
